<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="margin: 0 auto; text-align: center">
        <h1>登录</h1>
        <form action="/login" method="post">
            <div>
                用户名：<input type="text" name="username" />
            </div>
            <div>
                密码：<input type="password" name="password" />
            </div>
            <div>
                验证码：<input type="text" name="captcha" />
                <img src="/captcha.jpg" height="45px" width="125px">
            </div>
            <div>
                <button type="submit">登录</button>
            </div>
        </form>
    </div>
</body>
</html>